


<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seja Valuntario</title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="./assets/css/form.css">
        <link rel="shortcut icon" href="./assets/images/logo.png" type="image/x-icon">
    </head>
    <body>
        <main class="container">
            <header class="header row">
                <img src="./assets/images/logo.png" alt="logo do seja voluntario">
                <h1 class="text-red text-shadow">Seja voluntario</h1>
            </header>

            <section class="notices row">
               
                        <h2 class="text-red row">Acolher refugiados</h2>
                        <p class="city"><strong>Campo Grande-MS</strong></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic dolor quas, porro sunt totam quo voluptates eos iusto? Facilis blanditiis nam cum reiciendis molestias praesentium reprehenderit tenetur quo a earum?</p>
                        <p>
                            <a href="email@email.co" class="btn btn-red">enviar email</a>
                        </p>
                    
            </section>

            <footer class="footer">
                <p>
                    <strong>Seja voluntário</strong> - aplicação para fins didatico 
                </p>
            </footer>
        </main>
    </body>
</html>