<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seja Valuntario</title>
        <link rel="stylesheet" href="./assets/css/style.css">
        <link rel="stylesheet" href="./assets/css/form.css">
        <link rel="shortcut icon" href="./assets/images/logo.png" type="image/x-icon">
        <script src="./assets/js/forms.js" defer></script>
    </head>
    <body>
        <main class="container">
            <header class="header row">
                <img src="./assets/images/logo.png" alt="logo do seja voluntario">
                <h1 class="text-red text-shadow">Seja voluntario</h1>
            </header>

            <section class="form row">
                <h2 class="text-green">Cadastre sua vaga de voluntariado</h2>
                <form class="flex" onsubmit="return validateNotice(this)">
                    <input type="text" name="email" class="col-full" placeholder="informe o email do resposnsável">
                    
                    <textarea name="descricao" id="descricao" rows="4" placeholder="informe a descrição da vaga"></textarea>
                    
                    <div class="flex">
                        <input type="text" name="titulo" placeholder="Informe o titulo da vaga" class="col-half">
                        
                        <input type="text" name="cidade" placeholder="Informe a cidade da vaga" class="col-half">
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-green ">Enviar anuncio</button>
                    </div>
                </form>
            </section>

            <footer class="footer">
                <p>
                    <strong>Seja voluntário</strong> - aplicação para fins didatico 
                </p>
            </footer>
        </main>
    </body>
</html>